@charset "UTF-8";
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fonts-awesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fonts-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fonts-awesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fonts-awesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fonts-awesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fonts-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-feed:before,
.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper-pp:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.fa-buysellads:before {
  content: "";
}

.fa-connectdevelop:before {
  content: "";
}

.fa-dashcube:before {
  content: "";
}

.fa-forumbee:before {
  content: "";
}

.fa-leanpub:before {
  content: "";
}

.fa-sellsy:before {
  content: "";
}

.fa-shirtsinbulk:before {
  content: "";
}

.fa-simplybuilt:before {
  content: "";
}

.fa-skyatlas:before {
  content: "";
}

.fa-cart-plus:before {
  content: "";
}

.fa-cart-arrow-down:before {
  content: "";
}

.fa-diamond:before {
  content: "";
}

.fa-ship:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-motorcycle:before {
  content: "";
}

.fa-street-view:before {
  content: "";
}

.fa-heartbeat:before {
  content: "";
}

.fa-venus:before {
  content: "";
}

.fa-mars:before {
  content: "";
}

.fa-mercury:before {
  content: "";
}

.fa-intersex:before,
.fa-transgender:before {
  content: "";
}

.fa-transgender-alt:before {
  content: "";
}

.fa-venus-double:before {
  content: "";
}

.fa-mars-double:before {
  content: "";
}

.fa-venus-mars:before {
  content: "";
}

.fa-mars-stroke:before {
  content: "";
}

.fa-mars-stroke-v:before {
  content: "";
}

.fa-mars-stroke-h:before {
  content: "";
}

.fa-neuter:before {
  content: "";
}

.fa-genderless:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-pinterest-p:before {
  content: "";
}

.fa-whatsapp:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-user-plus:before {
  content: "";
}

.fa-user-times:before {
  content: "";
}

.fa-hotel:before,
.fa-bed:before {
  content: "";
}

.fa-viacoin:before {
  content: "";
}

.fa-train:before {
  content: "";
}

.fa-subway:before {
  content: "";
}

.fa-medium:before {
  content: "";
}

.fa-yc:before,
.fa-y-combinator:before {
  content: "";
}

.fa-optin-monster:before {
  content: "";
}

.fa-opencart:before {
  content: "";
}

.fa-expeditedssl:before {
  content: "";
}

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "";
}

.fa-battery-2:before,
.fa-battery-half:before {
  content: "";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "";
}

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "";
}

.fa-mouse-pointer:before {
  content: "";
}

.fa-i-cursor:before {
  content: "";
}

.fa-object-group:before {
  content: "";
}

.fa-object-ungroup:before {
  content: "";
}

.fa-sticky-note:before {
  content: "";
}

.fa-sticky-note-o:before {
  content: "";
}

.fa-cc-jcb:before {
  content: "";
}

.fa-cc-diners-club:before {
  content: "";
}

.fa-clone:before {
  content: "";
}

.fa-balance-scale:before {
  content: "";
}

.fa-hourglass-o:before {
  content: "";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "";
}

.fa-hourglass:before {
  content: "";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "";
}

.fa-hand-scissors-o:before {
  content: "";
}

.fa-hand-lizard-o:before {
  content: "";
}

.fa-hand-spock-o:before {
  content: "";
}

.fa-hand-pointer-o:before {
  content: "";
}

.fa-hand-peace-o:before {
  content: "";
}

.fa-trademark:before {
  content: "";
}

.fa-registered:before {
  content: "";
}

.fa-creative-commons:before {
  content: "";
}

.fa-gg:before {
  content: "";
}

.fa-gg-circle:before {
  content: "";
}

.fa-tripadvisor:before {
  content: "";
}

.fa-odnoklassniki:before {
  content: "";
}

.fa-odnoklassniki-square:before {
  content: "";
}

.fa-get-pocket:before {
  content: "";
}

.fa-wikipedia-w:before {
  content: "";
}

.fa-safari:before {
  content: "";
}

.fa-chrome:before {
  content: "";
}

.fa-firefox:before {
  content: "";
}

.fa-opera:before {
  content: "";
}

.fa-internet-explorer:before {
  content: "";
}

.fa-tv:before,
.fa-television:before {
  content: "";
}

.fa-contao:before {
  content: "";
}

.fa-500px:before {
  content: "";
}

.fa-amazon:before {
  content: "";
}

.fa-calendar-plus-o:before {
  content: "";
}

.fa-calendar-minus-o:before {
  content: "";
}

.fa-calendar-times-o:before {
  content: "";
}

.fa-calendar-check-o:before {
  content: "";
}

.fa-industry:before {
  content: "";
}

.fa-map-pin:before {
  content: "";
}

.fa-map-signs:before {
  content: "";
}

.fa-map-o:before {
  content: "";
}

.fa-map:before {
  content: "";
}

.fa-commenting:before {
  content: "";
}

.fa-commenting-o:before {
  content: "";
}

.fa-houzz:before {
  content: "";
}

.fa-vimeo:before {
  content: "";
}

.fa-black-tie:before {
  content: "";
}

.fa-fonticons:before {
  content: "";
}

.fa-reddit-alien:before {
  content: "";
}

.fa-edge:before {
  content: "";
}

.fa-credit-card-alt:before {
  content: "";
}

.fa-codiepie:before {
  content: "";
}

.fa-modx:before {
  content: "";
}

.fa-fort-awesome:before {
  content: "";
}

.fa-usb:before {
  content: "";
}

.fa-product-hunt:before {
  content: "";
}

.fa-mixcloud:before {
  content: "";
}

.fa-scribd:before {
  content: "";
}

.fa-pause-circle:before {
  content: "";
}

.fa-pause-circle-o:before {
  content: "";
}

.fa-stop-circle:before {
  content: "";
}

.fa-stop-circle-o:before {
  content: "";
}

.fa-shopping-bag:before {
  content: "";
}

.fa-shopping-basket:before {
  content: "";
}

.fa-hashtag:before {
  content: "";
}

.fa-bluetooth:before {
  content: "";
}

.fa-bluetooth-b:before {
  content: "";
}

.fa-percent:before {
  content: "";
}

.fa-gitlab:before {
  content: "";
}

.fa-wpbeginner:before {
  content: "";
}

.fa-wpforms:before {
  content: "";
}

.fa-envira:before {
  content: "";
}

.fa-universal-access:before {
  content: "";
}

.fa-wheelchair-alt:before {
  content: "";
}

.fa-question-circle-o:before {
  content: "";
}

.fa-blind:before {
  content: "";
}

.fa-audio-description:before {
  content: "";
}

.fa-volume-control-phone:before {
  content: "";
}

.fa-braille:before {
  content: "";
}

.fa-assistive-listening-systems:before {
  content: "";
}

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "";
}

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "";
}

.fa-glide:before {
  content: "";
}

.fa-glide-g:before {
  content: "";
}

.fa-signing:before,
.fa-sign-language:before {
  content: "";
}

.fa-low-vision:before {
  content: "";
}

.fa-viadeo:before {
  content: "";
}

.fa-viadeo-square:before {
  content: "";
}

.fa-snapchat:before {
  content: "";
}

.fa-snapchat-ghost:before {
  content: "";
}

.fa-snapchat-square:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-first-order:before {
  content: "";
}

.fa-yoast:before {
  content: "";
}

.fa-themeisle:before {
  content: "";
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "";
}

.fa-fa:before,
.fa-font-awesome:before {
  content: "";
}

.fa-handshake-o:before {
  content: "";
}

.fa-envelope-open:before {
  content: "";
}

.fa-envelope-open-o:before {
  content: "";
}

.fa-linode:before {
  content: "";
}

.fa-address-book:before {
  content: "";
}

.fa-address-book-o:before {
  content: "";
}

.fa-vcard:before,
.fa-address-card:before {
  content: "";
}

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "";
}

.fa-user-circle:before {
  content: "";
}

.fa-user-circle-o:before {
  content: "";
}

.fa-user-o:before {
  content: "";
}

.fa-id-badge:before {
  content: "";
}

.fa-drivers-license:before,
.fa-id-card:before {
  content: "";
}

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "";
}

.fa-quora:before {
  content: "";
}

.fa-free-code-camp:before {
  content: "";
}

.fa-telegram:before {
  content: "";
}

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "";
}

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "";
}

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "";
}

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "";
}

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "";
}

.fa-shower:before {
  content: "";
}

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "";
}

.fa-podcast:before {
  content: "";
}

.fa-window-maximize:before {
  content: "";
}

.fa-window-minimize:before {
  content: "";
}

.fa-window-restore:before {
  content: "";
}

.fa-times-rectangle:before,
.fa-window-close:before {
  content: "";
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "";
}

.fa-bandcamp:before {
  content: "";
}

.fa-grav:before {
  content: "";
}

.fa-etsy:before {
  content: "";
}

.fa-imdb:before {
  content: "";
}

.fa-ravelry:before {
  content: "";
}

.fa-eercast:before {
  content: "";
}

.fa-microchip:before {
  content: "";
}

.fa-snowflake-o:before {
  content: "";
}

.fa-superpowers:before {
  content: "";
}

.fa-wpexplorer:before {
  content: "";
}

.fa-meetup:before {
  content: "";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

ol li,
ul li,
li li {
  list-style-type: none;
}

ol li a,
ul li a,
li li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #3ab3e5;
}

a:hover {
  color: #483a3b;
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

a img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

label {
  font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

/* respo */
/* clearfix */
.box-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.box-overlay-wrap .box-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .box-overlay-wrap .box-overlay {
    opacity: 10;
    filter: alpha(opacity=1000);
  }
}

.box-overlay-wrap .box-wrap-image {
  width: 100%;
}

.box-overlay-wrap .box-wrap-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  left: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .box-overlay-wrap .box-wrap-details {
    opacity: 10;
    filter: alpha(opacity=1000);
  }
}

.box-overlay-wrap .box-wrap-details h3 {
  color: #fff;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.box-overlay-wrap .box-wrap-details p {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box-overlay-wrap:hover .box-overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.box-overlay-wrap:hover .box-wrap-details {
  top: 50%;
  left: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.box-overlay-wrap:hover .box-wrap-image {
  width: 100%;
}

.box-overlay-wrap .fadeIn-bottom {
  top: 80%;
}

.box-overlay-wrap .fadeIn-top {
  top: 20%;
}

.button-outer {
  padding: 15px 60px;
  font-size: 25px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: white;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .button-outer {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .button-outer {
    font-size: 16px;
  }
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .button-outer {
    font-size: 18px;
  }
}

.button-outer:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.button-fill-blue {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, transparent), color-stop(50%, #e95144), to(#e95144));
  background: linear-gradient(90deg, transparent 0%, transparent 50%, #e95144 50%, #e95144 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  border: 2px solid #e95144;
  color: #fff;
}

.button-fill-blue:hover {
  background-position: left bottom;
}

.button-fill-blue:hover {
  color: #e95144;
}

.button-fill-white {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, transparent), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  border: 2px solid #fff;
  color: #c50080;
}

.button-fill-white:hover {
  background-position: left bottom;
}

.button-fill-white:hover {
  color: #fff;
}

.button-fill- {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, transparent), color-stop(50%, #e95144), to(#e95144));
  background: linear-gradient(90deg, transparent 0%, transparent 50%, #e95144 50%, #e95144 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  border: 2px solid #e95144;
  color: #fff;
}

.button-fill-:hover {
  background-position: left bottom;
}

.button-fill-:hover {
  color: #e95144;
}

.button-outline-blue {
  background: -webkit-gradient(linear, left top, right top, from(#e95144), color-stop(50%, #e95144), color-stop(50%, transparent), to(transparent));
  background: linear-gradient(90deg, #e95144 0%, #e95144 50%, transparent 50%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  border: 1px solid #e95144;
  color: #e95144;
}

.button-outline-blue:hover {
  background-position: left bottom;
}

.button-outline-blue:hover {
  color: #fff;
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.radios label,
.checkboxes label {
  cursor: pointer;
  line-height: 1rem;
}

.radios input[type="checkbox"],
.radios input[type="radio"],
.checkboxes input[type="checkbox"],
.checkboxes input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radios input[type="checkbox"] + label,
.radios input[type="radio"] + label,
.checkboxes input[type="checkbox"] + label,
.checkboxes input[type="radio"] + label {
  position: relative;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #565656;
  font-size: 16px;
}

.radios input[type="checkbox"] + label:before,
.radios input[type="radio"] + label:before,
.checkboxes input[type="checkbox"] + label:before,
.checkboxes input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.radios input[type="checkbox"] + label:after,
.radios input[type="radio"] + label:after,
.checkboxes input[type="checkbox"] + label:after,
.checkboxes input[type="radio"] + label:after {
  content: "";
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.radios input[type="checkbox"] + label:after,
.checkboxes input[type="checkbox"] + label:after {
  background-color: transparent;
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 5px;
  width: 5px;
  height: 9px;
  opacity: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.radios input[type="checkbox"]:checked + label:before,
.checkboxes input[type="checkbox"]:checked + label:before {
  content: "";
  background: #e95144;
  border: 1px solid #e95144;
}

.radios input[type="checkbox"]:checked + label:after,
.checkboxes input[type="checkbox"]:checked + label:after {
  content: "";
  opacity: 1;
}

.radios input[type="radio"] + label:before, .radios input[type="radio"] + label:after,
.checkboxes input[type="radio"] + label:before,
.checkboxes input[type="radio"] + label:after {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.radios input[type="radio"] + label:after,
.checkboxes input[type="radio"] + label:after {
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
}

.radios input[type="radio"]:checked + label:before,
.checkboxes input[type="radio"]:checked + label:before {
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
}

.radios input[type="radio"]:checked + label:after,
.checkboxes input[type="radio"]:checked + label:after {
  background: #e95144;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  color: #fff;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}

.link--elara::before {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: -webkit-clip-path 0.3s, -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: -webkit-clip-path 0.3s, -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.3s, -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara:hover::before {
  -webkit-transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
          transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara span {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1), -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--elara:hover span {
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
  color: #fff;
}

#sidebar {
  max-width: 100%;
  background: #fff;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

#sidebar.active {
  margin-left: -100%;
}

@media (max-width: 767px) {
  #sidebar {
    position: absolute;
    z-index: 999;
    width: 75%;
    margin-left: -100%;
    top: 70px;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    height: 100%;
    top: 0;
    z-index: 9999;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

#sidebar h3 {
  font-size: 18px;
  text-transform: uppercase;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #sidebar h3 {
    display: none;
  }
}

#sidebar .btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  #sidebar .btn-close {
    display: none;
  }
}

@media (min-width: 1920px) {
  #sidebar .btn-close {
    display: none;
  }
}

.products-top-row {
  background: #fdfbf9;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .products-top-row {
    background: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.products-top-row .grid-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-top-row .grid-btn-group label svg {
  color: #707070;
  font-size: 30px;
}

.products-top-row .sorting-drodown select {
  border: 0;
  background-color: 0;
}

.products-top-row .sorting-drodown select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.products-top-row .breadcrumb {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.products-top-row .breadcrumb li {
  font-size: 14px;
}

.products-top-row .breadcrumb a {
  color: #565656;
  font-weight: bold;
  font-size: 14px;
}

.products-top-row .breadcrumb a:hover {
  color: #e95144;
}

.products-top-row .filter-button svg {
  color: #727272;
}

.products-top-row .filter-button span {
  text-transform: uppercase;
  font-size: 13px;
  color: #727272;
}

.products-top-row .filter-button:active span {
  color: #e95144;
}

.products-top-row .sorting-mobile .dropdown-toggle:after {
  border: 0;
}

.products-top-row .sorting-mobile a {
  color: #727272;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.products-top-row .total-product-text {
  color: #727272;
}

@media (max-width: 767px) {
  .products-top-row .breadcrumb {
    display: none;
  }
  .products-top-row .sorting-drodown {
    display: none;
  }
  .products-top-row .total-product-text {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .products-top-row .filter-button {
    display: none;
  }
  .products-top-row .grid-btn-group {
    display: none;
  }
  .products-top-row .sorting-mobile {
    display: none;
  }
}

@media (min-width: 1920px) {
  .products-top-row .filter-button {
    display: none;
  }
  .products-top-row .grid-btn-group {
    display: none;
  }
  .products-top-row .sorting-mobile {
    display: none;
  }
}

.filter-bar .accordion-button {
  text-transform: uppercase;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}

.filter-bar .accordion-button:after {
  font-family: "FontAwesome";
  content: "\f068";
  background: none;
  color: #e95144;
  right: 0;
  -webkit-transform: none;
          transform: none;
}

.filter-bar .accordion-button:not(.collapsed)::after {
  font-family: "FontAwesome";
  content: "\f067";
}

.filter-bar .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  border-color: #e95144;
}

.filter-bar .accordion-button:not(.collapsed) {
  color: #e95144;
  background: 0;
}

.filter-bar .accordion-body {
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}

.filter-bar .accordion-body .filter-content {
  height: 200px;
  overflow-y: auto;
}

.filter-bar .accordion-body .filter-content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.filter-bar .accordion-body .filter-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.filter-bar .accordion-body .filter-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.filter-bar .accordion-body .filter-content {
  scrollbar-face-color: rgba(0, 0, 0, 0.4);
  scrollbar-track-color: rgba(0, 0, 0, 0.2);
}

.filter-bar .accordion-body .filter-content .checkboxes {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.filter-bar .accordion-body .color-palette {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-bar .accordion-body .color-palette__item {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-bar .accordion-body .color-palette__item:hover {
  border: 1px solid #e95144;
}

.filter-bar .accordion-body .color-palette__color {
  height: 30px;
  width: 30px;
  display: block;
}

.filter-bar .accordion-body .color-palette--black {
  background: #000;
}

.filter-bar .accordion-body .color-palette--blue {
  background: #0000ff;
}

.filter-bar .accordion-body .color-palette--brown {
  background: brown;
}

.filter-bar .accordion-body .color-palette--green {
  background: #008000;
}

.filter-bar .accordion-body .color-palette--grey {
  background: #5b5c60;
}

.filter-bar .accordion-body .color-palette--gradient {
  background: url(../images/color-gradient.jpg) no-repeat;
}

.filter-bar .accordion-body .color-palette--dark-blue {
  background: #000080;
}

.filter-bar .accordion-body .color-palette--red {
  background: red;
}

.filter-bar .accordion-body .color-palette--white {
  background: white;
}

.filter-bar .accordion-body .color-palette--yellow {
  background: yellow;
}

#products-list .price {
  color: #565656;
}

/********************* products list **********************/
.product-grid {
  text-align: center;
  padding: 0 0 72px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .product-grid {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.product-grid .product-image {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-grid .product-image a {
  display: block;
}

.product-grid .product-image img {
  width: 100%;
  height: auto;
}

.product-grid .pic-1 {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-grid:hover .pic-1 {
  opacity: 1;
}

.product-grid:hover .pic-2 {
  opacity: 1;
}

.product-grid:hover .social {
  opacity: 1;
  top: 50%;
}

.product-grid:hover .product-content {
  bottom: 0;
}

.product-grid:hover .title a {
  color: #e95144;
}

.product-grid .pic-2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-grid .social {
  width: 150px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .product-grid .social {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .product-grid .social {
    opacity: 10;
  }
}

.product-grid .social li {
  display: inline-block;
}

.product-grid .social li a {
  color: #fff;
  background-color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 0 2px;
  display: block;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-grid .social li a:hover {
  color: #fff;
  background-color: #ef5777;
}

.product-grid .social li a:hover:after {
  opacity: 1;
}

.product-grid .social li a:hover:before {
  opacity: 1;
}

.product-grid .social li a:after {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1;
}

.product-grid .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}

.product-grid .product-discount-label {
  color: #fff;
  background-color: #e95144;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 15px;
  display: block;
  position: absolute;
  top: 40px;
  background-color: #c1c1c1;
  left: auto;
  right: 10px;
  width: 100px;
  text-align: center;
}

.product-grid .product-new-label {
  color: #fff;
  background-color: #e95144;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 15px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  text-align: center;
}

.product-grid .product-content {
  background-color: #fff;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*  @include breakpoint(sm) {
        bottom: 0;
      }
      @include breakpoint(md) {
        bottom: 0;
      } */
}

.product-grid .title {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-grid .title a {
  color: #828282;
}

.product-grid .title a:hover {
  color: #e95144;
}

.product-grid .price {
  color: #e95144;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-grid .price span {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 3px;
  display: inline-block;
}

.product-grid .add-to-cart {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  display: inline-block;
}

.product-grid .add-to-cart:before {
  position: absolute;
  left: 9px;
  content: "\f055";
  font-family: "FontAwesome";
  font-size: 18px;
  top: 6px;
  color: #000;
}

.product-grid .add-to-cart:hover {
  color: #fff;
  background: #e95144;
}

.product-grid .add-to-cart:hover::before {
  color: #fff;
}

.product-grid:hover {
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

header .header-primary {
  background: #f6edeb;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

header .header-primary .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .header-primary .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  header .header-primary {
    padding: 10px 0 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header .header-primary {
    padding: 15px 0 15px 0;
  }
}

header .header-primary p {
  color: #000;
  font-size: 14px;
}

header .header-secondary nav.navbar {
  background-color: #fff;
  padding: 15px 0 15px 0;
  border-bottom: solid 1px #eeeded;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 40px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .header-secondary nav.navbar {
    padding: 10px 30px 10px 30px;
    top: 80px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header .header-secondary nav.navbar {
    padding: 15px 30px 15px 30px;
  }
}

header .header-secondary nav.navbar .icon-bar {
  width: 26px;
  height: 3px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #565656;
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 4px;
}

header .header-secondary nav.navbar .navbar-toggler {
  border: none;
  background: transparent !important;
  position: absolute;
  left: 0;
  top: 7px;
  /* Landscape phones and down */
}

header .header-secondary nav.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) and (max-width: 979px) {
  header .header-secondary nav.navbar .navbar-toggler {
    right: left;
    top: 16px;
  }
}

header .header-secondary nav.navbar .navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

header .header-secondary nav.navbar .navbar-toggler .middle-bar {
  opacity: 0;
}

header .header-secondary nav.navbar .navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

header .header-secondary nav.navbar .navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

header .header-secondary nav.navbar .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

header .header-secondary nav.navbar .navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

header .header-secondary nav .navbar-nav {
  margin-left: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

header .header-secondary nav .navbar-nav .nav-item {
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .header-secondary nav .navbar-nav .nav-item {
    padding: 20px 0 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header .header-secondary nav .navbar-nav .nav-item {
    padding: 20px 0 10px 0;
  }
}

header .header-secondary nav .navbar-nav .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #565656 !important;
  padding: 0 0 0 0 !important;
  margin-right: 30px;
  font-weight: 400;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .header-secondary nav .navbar-nav .nav-link {
    margin-left: 0;
  }
}

header .header-secondary nav .navbar-nav .nav-link:hover {
  color: #e95144 !important;
}

header .header-secondary nav .navbar-nav .nav-link:hover:before {
  opacity: 10;
}

header .header-secondary .logo {
  background: url(../images/logo.png) no-repeat;
  width: 150px;
  height: 79px;
  background-size: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .header-secondary .logo {
    width: 100px;
    height: 53px;
    margin: 0 auto;
    /*  @include margin(0, 0, 0, 0); */
  }
}

header .header-secondary .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .header-secondary .header-right {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    top: 0;
    right: 20px;
  }
}

header .header-secondary .header-right a {
  display: inline-block;
  margin-top: 0;
  margin-right: 7px;
  margin-bottom: 0;
  margin-left: 7px;
  color: #000;
}

header .header-secondary .header-right a:hover {
  color: #e95144;
}

header .header-secondary .header-right a.track-order {
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
}

header .header-secondary .header-right a.track-order .text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .header-secondary .header-right a.track-order .text {
    display: none;
  }
}

header .header-secondary .header-right a.user-icon {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .header-secondary .header-right a.user-icon {
    display: none;
  }
}

header .header-secondary .header-right a.product-count {
  position: relative;
}

header .header-secondary .header-right a.product-count .number {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 20px;
  width: 20px;
  background: #000;
  color: #fff;
  font-size: 11px;
  position: absolute;
  right: -10px;
  top: -5px;
  display: block;
  line-height: 20px;
  text-align: center;
}

header.header-scroll .header-secondary nav {
  padding: 10px 0 10px 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header.header-scroll .header-secondary nav {
    padding: 10px 0 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header.header-scroll .header-secondary nav {
    padding: 15px 0 15px 0;
  }
}

header.header-scroll .header-secondary .logo {
  width: 80px;
  height: 42px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header.header-scroll .header-secondary .logo {
    margin: 0 auto;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #312b2b;
}

.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

/* Landscape phones and down */
@media (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

main {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  main {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.borderless-table td,
.borderless-table th {
  border: none;
}

.text-grey {
  color: #565656;
}

.text-white {
  color: #fff;
}

.text-brand {
  color: #e95144;
}

.text-black {
  color: #000;
}

.body-wrapper {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .body-wrapper {
    margin-top: 180px;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

#hero-slider {
  margin-top: 148px;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #hero-slider {
    margin-top: 152px;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

#hero-slider .slider-holder {
  position: relative;
}

#hero-slider .slider-holder__figure-holder {
  overflow: hidden;
  height: 600px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #hero-slider .slider-holder__figure-holder {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #hero-slider .slider-holder__figure-holder {
    height: auto;
  }
}

#hero-slider .slider-holder__figure-holder img {
  width: 100%;
}

#hero-slider .slider-holder__caption {
  position: absolute;
  right: 0;
  bottom: 80px;
  width: 30%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  border-radius: 150px 0 0 150px;
  -webkit-border-radius: 150px 0 0 150px;
  -moz-border-radius: 150px 0 0 150px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #hero-slider .slider-holder__caption {
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    width: 100%;
    bottom: 30px;
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

#hero-slider .slider-holder__title {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

#hero-slider .slider-holder__btn {
  text-transform: uppercase;
}

#hero-slider .owl-nav {
  position: absolute;
  bottom: 10%;
  width: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #hero-slider .owl-nav {
    bottom: 40%;
  }
}

#hero-slider .owl-nav .owl-prev {
  position: absolute;
  right: 120px;
  background: none !important;
  font-size: 0;
}

#hero-slider .owl-nav .owl-prev:before {
  font-family: FontAwesome;
  content: "\f177";
  position: absolute;
  left: 0;
  font-size: 18px;
  top: -10px;
  height: 40px;
  line-height: 40px;
  width: 60px;
  text-align: center;
  background: #fceee5;
  border: 0;
  color: #e95144;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#hero-slider .owl-nav .owl-prev:hover:before {
  background: #e95144;
  color: #fff;
}

#hero-slider .owl-nav .owl-next {
  position: absolute;
  background: none !important;
  right: 0;
  font-size: 0;
}

#hero-slider .owl-nav .owl-next:before {
  font-family: FontAwesome;
  content: "\f178";
  position: absolute;
  right: 0;
  font-size: 18px;
  top: -10px;
  height: 40px;
  line-height: 40px;
  width: 60px;
  text-align: center;
  background: #fceee5;
  border: 0;
  color: #e95144;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#hero-slider .owl-nav .owl-next:hover:before {
  background: #e95144;
  color: #fff;
}

.owl-item.active .slider-holder__caption {
  -webkit-animation: 1s 0.2s fadeInRight both;
          animation: 1s 0.2s fadeInRight both;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .owl-item.active .slider-holder__caption {
    -webkit-animation: 1s 0.2s fadeInUp both;
            animation: 1s 0.2s fadeInUp both;
  }
}

.main-heading-wrap {
  margin-top: 148px;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}

.main-heading-wrap img {
  width: 100%;
}

@media (max-width: 767px) {
  .main-heading-wrap {
    display: none;
  }
}

.new-arrival-cont {
  background: #fdfbf9;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .new-arrival-cont {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }
}

.new-arrival-cont .title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  /* Landscape phones and down */
}

.new-arrival-cont .title-head h2 {
  font-size: 22px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .new-arrival-cont .title-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new-arrival-cont .title-head h2 {
    font-size: 22px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.new-arrival-cont .nav-tabs {
  border: 0;
}

.new-arrival-cont .nav-tabs .nav-link {
  border: 0;
  background: none;
  text-transform: uppercase;
  position: relative;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 50px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

.new-arrival-cont .nav-tabs .nav-link:last-child {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

@media (max-width: 767px) {
  .new-arrival-cont .nav-tabs .nav-link {
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.new-arrival-cont .nav-tabs .nav-link:before {
  position: absolute;
  width: 0;
  height: 3px;
  content: "";
  background: #e95144;
  left: 0;
  bottom: -10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.new-arrival-cont .nav-tabs .nav-link:hover {
  color: #e95144;
}

.new-arrival-cont .nav-tabs .nav-link:hover:before {
  width: 100%;
}

.new-arrival-cont .nav-tabs .nav-link.active {
  color: #e95144;
}

.new-arrival-cont .nav-tabs .nav-link.active:before {
  width: 100%;
}

.categories {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  height: 545px;
  overflow: hidden;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /*  grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .categories {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
}

.categories h2 {
  text-transform: uppercase;
  font-size: 22px;
  color: #000;
  text-align: center;
  display: none;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .categories h2 {
    display: block;
  }
}

.categories__item-a {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  height: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .categories__item-a {
    grid-column: auto;
    grid-row: auto;
    height: 250px;
  }
  .categories__item-a .box-overlay-wrap {
    height: 250px;
  }
}

.categories__item-b {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  overflow: hidden;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .categories__item-b {
    grid-column: auto;
    grid-row: auto;
  }
}

.categories__item-c {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  overflow: hidden;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .categories__item-c {
    grid-column: auto;
    grid-row: auto;
  }
}

.categories__item-d {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  height: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .categories__item-d {
    grid-column: auto;
    grid-row: auto;
    height: 250px;
  }
  .categories__item-d .box-overlay-wrap {
    height: 250px;
  }
}

.box-overlay-wrap {
  z-index: 5;
}

.insta-feeds figure {
  height: 130px;
  overflow: hidden;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .insta-feeds figure {
    height: auto;
  }
  .insta-feeds figure img {
    width: 100%;
  }
}

.insta-feeds .insta-content {
  background: #f6f1eb;
  text-align: center;
  color: #565656;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .insta-feeds .insta-content {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.insta-feeds .insta-content h3 {
  font-size: 16px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 500;
}

.insta-feeds .insta-content p {
  font-size: 14px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 300;
}

.insta-feeds .insta-content a {
  font-size: 14px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 500;
  display: block;
  color: #565656;
  -webkit-text-decoration: underline i !important;
          text-decoration: underline i !important;
}

.newsletter-form {
  background: #f6f1eb;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  text-align: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .newsletter-form {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

.newsletter-form small {
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  color: #565656;
  font-size: 14px;
  display: block;
  letter-spacing: 1px;
}

.newsletter-form h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  color: #565656;
  font-size: 20px;
  font-weight: bold;
}

.newsletter-form p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  color: #565656;
  font-size: 14px;
}

.newsletter-form span {
  color: #565656;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.newsletter-form .form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background: #efebe7;
  height: 55px;
  font-size: 14px;
  border: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.newsletter-form .form-control.placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.newsletter-form .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.newsletter-form .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.newsletter-form .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.newsletter-form .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.newsletter-form .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  border: 1px solid #e95144;
}

.newsletter-form .submit-button {
  border: 2px solid #000;
  color: #000;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

.newsletter-form .submit-button:hover {
  background: #000;
  color: #fff;
}

footer .footer-top {
  background: #f6edeb;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-top {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }
}

footer .footer-top h3 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

footer .footer-top .footer-links__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-top .footer-links__group {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

footer .footer-top .footer-links__item {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

footer .footer-top .footer-links__link {
  color: #565656;
  text-transform: uppercase;
  font-size: 14px;
}

footer .footer-top .footer-links__link:hover {
  color: #e95144;
}

footer .footer-bottom {
  background: #f3e2de;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  text-align: center;
  color: #565656;
  font-size: 12px;
}
/*# sourceMappingURL=style-en.css.map */