@import "vendor/font-awesome-4.7.0/font-awesome", "vendor/OwlCarousel2-2.2.1/owl.carousel",
  "vendor/OwlCarousel2-2.2.1/owl.theme.default";

@import "base/reset", "base/typography";

@import "partials/variables", "partials/layout", "partials/mixins";

@import "components/ui-elements";

@import "pages/product-list", "pages/product-grid";

@import "layout/header";

body {
  font-family: $font-primary;
  color: #312b2b;
}
h1,
h2,
h3 {
}
.wow {
  visibility: hidden;
}
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}
@include breakpoint(sm) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  @include breakpoint(sm) {
    
      padding-left: 10px;
      padding-right: 10px;
    
  }
}
main {
  @include padding(0, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  }
}

.borderless-table td,
.borderless-table th {
  border: none;
}
.text-grey{
  color: $dark-grey-color;
}
.text-white{
  color: $white-color;
}
.text-brand{
  color: $brand-color;
}
.text-black{
  color: $black-color;
}
.body-wrapper{
  @include padding(0, 0, 50px, 0);

  @include breakpoint(sm) {
    @include margin(180px, 0, 50px, 0);
  }
}


#hero-slider {
  @include margin(148px, 0, 50px, 0);
  position: relative;

  @include breakpoint(sm) {
    @include margin(152px, 0, 50px, 0);
  }

  .slider-holder {
    position: relative;
    &__figure-holder {
      overflow: hidden;
      height: 600px;
      @include margin(0, 0, 0, 0);

      @include breakpoint(sm) {
        height: auto;

      }
      @include breakpoint(md) {
        height: auto;
      }
      img {
        width: 100%;
      }
    }
    &__caption {
      position: absolute;
      right: 0;
      bottom: 80px;
      width: 30%;
      background: black(0.5);
      @include padding(30px, 30px, 30px, 50px);
      @include border-radius(150px 0 0 150px);

      @include breakpoint(sm) {
        @include border-radius(50px 50px 50px 50px);
        width:100%;
        bottom: 30px;
        text-align: center;
        @include padding(20px, 20px, 20px, 20px);
      }

    }
    &__title {
      color: $white-color;
      font-size: 20px;
      @include margin(0, 0, 30px, 0);
    }

    &__btn {
      text-transform: uppercase;
    }
  }

  .owl-nav {
    position: absolute;
    bottom: 10%;
    width: 100%;

    @include breakpoint(sm) {
      bottom: 40%;
    }
  

    .owl-prev {
      position: absolute;
      right: 120px;
      background: none !important;
      font-size: 0;

      &:before {
        font-family: FontAwesome;
        content: "\f177";
        position: absolute;
        left: 0;
        font-size: 18px;
        top: -10px;
        height: 40px;
        line-height: 40px;
        width: 60px;
        text-align: center;
        background: #fceee5;
        border: 0;
        color: $brand-color;
        @include transition();
      }
      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
    .owl-next {
      position: absolute;
      background: none !important;
      right: 0;
      font-size: 0;

      &:before {
        font-family: FontAwesome;
        content: "\f178";
        position: absolute;
        right: 0;
        font-size: 18px;
        top: -10px;
        height: 40px;
        line-height: 40px;
        width: 60px;
        text-align: center;
        background: #fceee5;
        border: 0;
        color: $brand-color;
        @include transition();
      }

      &:hover {
        &:before {
          background: $brand-color;
          color: $white-color;
        }
      }
    }
  }
}
.owl-item.active .slider-holder__caption {
  animation: 1s 0.2s fadeInRight both;

  @include breakpoint(sm) {
    animation: 1s 0.2s fadeInUp both;
  }

}
.main-heading-wrap{
  @include margin(148px, 0, 50px, 0);
  img{
    width: 100%
  }

  @include breakpoint(sm) {
    display: none;
  }
}

.new-arrival-cont {
  background: #fdfbf9;
  @include padding(50px, 0, 50px, 0);
  @include margin(0, 0, 50px, 0);

  @include breakpoint(sm) {
    @include padding(30px, 0, 30px, 0);
  }

  .title-head {
    display: flex;
    justify-content: space-between;

    @include margin(0, 0, 30px, 0);

    h2 {
      font-size: 22px;
      text-transform: uppercase;
    }

    @include breakpoint(sm) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 22px;
        @include margin(0, 0, 20px, 0);
      }
    }
  }
  .nav-tabs {
    border: 0;
    .nav-link {
      border: 0;
      background: none;
      text-transform: uppercase;
      position: relative;
      @include padding(0, 0, 0, 0);
      @include margin(0, 50px, 0, 0);

      &:last-child {
        @include margin(0, 0, 0, 0);
      }
      @include breakpoint(sm) {
        @include margin(0, 30px, 0, 0);
      }
      &:before {
        position: absolute;
        width: 0;
        height: 3px;
        content: "";
        background: $brand-color;
        left: 0;
        bottom: -10px;
        @include transition();
      }
      &:hover {
        color: $brand-color;
        &:before {
          width: 100%;
        }
      }
      &.active {
        color: $brand-color;
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.categories {
  display: grid;
  grid-gap: 20px;
  height: 545px;
  overflow: hidden;
  @include margin(0, 0, 50px, 0);
  /*  grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);

  @include breakpoint(sm) {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  h2{
    text-transform: uppercase;
    font-size: 22px;
    color: $black-color;
    text-align: center;
    display: none;
    @include breakpoint(sm){
      display: block;
    }
  }

  &__item-a {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;


    @include breakpoint(sm) {
      grid-column: auto;
      grid-row: auto;
      height: 250px;
      .box-overlay-wrap{
        height: 250px;
      }
    }
  }
  &__item-b {
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
    @include breakpoint(sm) {
      grid-column: auto;
      grid-row: auto;
    }
  }
  &__item-c {
    grid-column: 2;
    grid-row: 2;
    overflow: hidden;
    @include breakpoint(sm) {
      grid-column: auto;
      grid-row: auto;
    }
  }
  &__item-d {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 100%;
    @include breakpoint(sm) {
      grid-column: auto;
      grid-row: auto;
      height: 250px;
      .box-overlay-wrap{
        height: 250px;
      }
    }
  }
}

.box-overlay-wrap {
  @extend %box-wrap;
  z-index: z("outdated-browser");
}

.insta-feeds {
  figure {
    height: 130px;
    overflow: hidden;
    @include margin(0, 0, 20px, 0);


    @include breakpoint(sm) {
      height: auto;
      img{
        width: 100%;
      }
    }
  }
  .insta-content{
    background: #f6f1eb;
    text-align: center;
    color: $dark-grey-color;
    @include padding(15px, 15px, 15px, 15px);
    @include margin(0, 0, 20px, 0);

    @include breakpoint(sm) {
      @include padding(5px, 5px, 5px, 5px);
      @include margin(0, 0, 10px, 0);
    }

    h3{
      font-size: 16px;
      @include margin(0, 0, 10px, 0);
      font-weight: 500;
    }
    p{
     
      font-size: 14px;
      @include margin(0, 0, 10px, 0);
      font-weight: 300;
    }
    a{
      font-size: 14px;
      @include margin(0, 0, 10px, 0);
      font-weight: 500;
      display: block;
      color: $dark-grey-color;
      text-decoration: underline i !important;
    }
  }
}
.newsletter-form {
  background: #f6f1eb;
  @include padding(60px, 60px, 60px, 60px);
  text-align: center;

  @include breakpoint(sm) {
    @include padding(30px, 30px, 30px, 30px);
  }

  small {
    text-transform: uppercase;
    @include margin(0, 0, 20px, 0);
    color: $dark-grey-color;
    font-size: 14px;
    display: block;
    letter-spacing: 1px;
  }
  h3 {
    text-transform: uppercase;
    @include margin(0, 0, 20px, 0);
    color: $dark-grey-color;
    font-size: 20px;
    font-weight: bold;
  }
  p {
    @include margin(0, 0, 20px, 0);
    color: $dark-grey-color;
    font-size: 14px;
  }
  span {
    color: $dark-grey-color;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .form-control {
    @include border-radius(0);
    background: #efebe7;
    height: 55px;
    font-size: 14px;
    border: 0;
    @include transition();
    @include input-placeholder {
      color: black(0.2);
    }
    &:focus {
      box-shadow: none;
      @include input-hover;
      border: 1px solid $brand-color;
    }
  }
  .submit-button {
    border: 2px solid $black-color;
    color: $black-color;
    text-align: center;
    width: 100%;
    @include padding(10px, 0, 10px, 0);
    &:hover {
      background: $black-color;
      color: $white-color;
    }
  }
}
footer {
  .footer-top {
    background: #f6edeb;
    @include padding(50px, 0, 50px, 0);

    @include breakpoint(sm) {
      @include padding(30px, 0, 30px, 0);
    }

    h3 {
      @include margin(0, 0, 20px, 0);
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
    }
    .footer-links {
      &__group {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(sm) {
          @include margin(0, 0, 20px, 0);
        }
      }
      &__item {
        @include margin(0, 0, 20px, 0);
      }
      &__link {
        color: $dark-grey-color;
        text-transform: uppercase;
        font-size: 14px;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
  .footer-bottom {
    background: #f3e2de;
    @include padding(20px, 0, 20px, 0);
    text-align: center;
    color: $dark-grey-color;
    font-size: 12px;
  }
}

