header {
    .header-primary {
        background: #f6edeb;
        @include padding(10px, 0, 10px, 0);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9;
        .header-content {
            display: flex;
            justify-content: space-between;
            @include breakpoint(sm) {
                flex-direction: column;
                align-items: center;
            }
        }
        @include breakpoint(sm) {
            padding: 10px 0 10px 0;
        }
        @include breakpoint(md) {
            padding: 15px 0 15px 0;
        }

        p {
            color: $black-color;
            font-size: 14px;
            &.number {
            }
        }
    }
    .header-secondary {
        nav {
            &.navbar {
                background-color: $white-color;
                padding: 15px 0 15px 0;
                border-bottom: solid 1px #eeeded;
                width: 100%;
                @include transition();
                top: 40px;

                @include breakpoint(sm) {
                    padding: 10px 30px 10px 30px;
                    top: 80px;
                }
                @include breakpoint(md) {
                    padding: 15px 30px 15px 30px;
                }

                .icon-bar {
                    width: 26px;
                    height: 3px;
                    @include border-radius(50px);
                    background-color: $dark-grey-color;
                    display: block;
                    transition: all 0.4s;
                    margin-top: 4px;
                }
                .navbar-toggler {
                    border: none;
                    background: transparent !important;
                    position: absolute;
                    left: 0;
                    top: 7px;
                    &:focus {
                        box-shadow: none;
                    }

                    @include breakpoint(md) {
                        right: left;
                        top: 16px;
                    }

                    .top-bar {
                        transform: rotate(45deg);
                        transform-origin: 10% 10%;
                    }
                    .middle-bar {
                        opacity: 0;
                    }
                    .bottom-bar {
                        transform: rotate(-45deg);
                        transform-origin: 10% 90%;
                    }
                    &.collapsed {
                        .top-bar {
                            transform: rotate(0);
                        }
                        .middle-bar {
                            opacity: 1;
                        }
                        .bottom-bar {
                            transform: rotate(0);
                        }
                    }
                }
            }
            .navbar-nav {
                margin-left: auto !important;
                display: flex;
                align-items: center;
                @include margin(0, 30px, 0, 0);

                .nav-item {
                    @include breakpoint(sm) {
                        padding: 20px 0 10px 0;
                    }
                    @include breakpoint(md) {
                        padding: 20px 0 10px 0;
                    }
                }
                .nav-link {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $dark-grey-color !important;
                    padding: 0 0 0 0 !important;
                    margin-right: 30px;
                    font-weight: 400;

                    @include breakpoint(sm) {
                        margin-left: 0;
                    }

                    &:hover {
                        color: $brand-color !important;
                        &:before {
                            opacity: 10;
                        }
                    }
                }
            }
        }
        .logo {
            background: url(../images/logo.png) no-repeat;
            width: 150px;
            height: 79px;
            background-size: 100%;
            @include transition();

            @include breakpoint(sm) {
                width: 100px;
                height: 53px;
                margin: 0 auto;
               /*  @include margin(0, 0, 0, 0); */
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint(sm) {
                @include margin(10px, 0, 0, 0);
                position: absolute;
                top: 0;
                right: 20px;
            }

            a {
                display: inline-block;
                @include margin(0, 7px, 0, 7px);
                color: $black-color;
                &:hover {
                    color: $brand-color;
                }
                &.track-order {
                    @include margin(4px, 10px, 0, 10px);
                    .text {
                        @include margin(0, 0, 5px, 0);
                        @include breakpoint(sm) {
                            display: none;
                        }
                    }
                }

                &.user-icon {
                    @include breakpoint(sm) {
                        display: none;
                    }
                }

                &.product-count {
                    position: relative;
                    .number {
                        @include border-radius(50%);
                        height: 20px;
                        width: 20px;
                        background: $black-color;
                        color: $white-color;
                        font-size: 11px;
                        position: absolute;
                        right: -10px;
                        top: -5px;
                        display: block;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

header.header-scroll {
    .header-secondary {
        nav {
            padding: 10px 0 10px 0;
            @include breakpoint(sm) {
                padding: 10px 0 10px 0;
            }
            @include breakpoint(md) {
                padding: 15px 0 15px 0;
            }
        }
        .logo {
            width: 80px;
            height: 42px;
            
            @include breakpoint(sm) {
                margin: 0 auto;
            }
        }
    }
}
