.button-outer {
  padding: 15px 60px;
  font-size: 25px;
  cursor: pointer;
  border: 0;
  @include border-radius(5px);
  color: white;
  display: inline-block;
  @include transition();

  @include breakpoint(sm) {
    font-size: 16px;
  }
  @include breakpoint(md) {
    font-size: 16px;
  }
  @include breakpoint(lp) {
    font-size: 18px;
  }

  &:hover {
    @include button-hover();
  }
}

.button-fill-blue {
  @include background-transition($brand-color, transparent);
  border: 2px solid $brand-color;
  color: $white-color;
  &:hover {
    color: $brand-color;
  }
}

.button-fill-white {
  @include background-transition($white-color, transparent);
  border: 2px solid $white-color;
  color: $brand-second-color;
  &:hover {
    color: $white-color;
  }
}
.button-fill- {
  @include background-transition($brand-color, transparent);
  border: 2px solid $brand-color;
  color: $white-color;
  &:hover {
    color: $brand-color;
  }
}

.button-outline-blue {
  @include background-transition(transparent, $brand-color);
  border: 1px solid $brand-color;
  color: $brand-color;
  &:hover {
    color: $white-color;
  }
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      @include padding(5px, 0, 0, 30px);
      @include margin(0, 0, 0, 0);
      user-select: none;
      color: $dark-grey-color;
      font-size: 16px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $border-grey-color;
        background: $white-color;
        text-align: center;
        @include transition();
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 8px;
        top: 5px;
        width: 5px;
        height: 9px;
        opacity: 0;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
          background: $brand-color;
          border: 1px solid $brand-color;
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }
}


.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  color:$white-color;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: $white-color;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}

.link--elara::before {
  transform-origin: 50% 100%;
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara:hover::before {
  transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--elara:hover span {
  transform: translate3d(0, -2px, 0);
  color:$white-color;
}