@mixin transition($what: all, $time: 0.5s, $how: ease) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}


* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}
body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
  li {
    list-style-type: none;

    a {
      @include transition();
    }
  }
}
a {
  text-decoration: none !important;
  outline: none !important;
  @include transition();
  color: #3ab3e5;
  &:hover{
    color:#483a3b;
  }
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
  @include transition();
}
a:hover,
a:focus {
  text-decoration: none;
}
a img {
  border: 0;
  padding: 0;
  @include transition();
}
img {
  border: 0;
  padding: 0;
  @include transition();
}

label {
  font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}
