// colors
$brand-color: #e95144;
$brand-second-color: #c50080;
$black-color: #000; // black color
$white-color: #fff; // white color
$light-grey-color: rgba($black-color, 0.2); 
$border-grey-color: rgba($black-color, 0.1); 
$dark-grey-color: #565656;
$text-grey-color: rgba($black-color, 0.5);


// fonts
$font-primary: 'Josefin Sans', sans-serif;
$font-secondary:'Josefin Sans', sans-serif;
$font-avertablack: "avertablack";
$font-montserrat: 'Montserrat', sans-serif;
