#sidebar {
    max-width: 100%;
    background: $white-color;
    color: #fff;
    @include transition();
    &.active {
        margin-left: -100%;
    }
    @include breakpoint(sm) {
        position: absolute;
        z-index: 999;
        width: 75%;
        margin-left: -100%;
        top: 70px;
        @include padding(50px, 20px, 20px, 20px);
        height: 100%;
        top: 0;
        z-index: 9999;

        &.active {
            margin-left: 0;
        }
    }
    h3 {
        font-size: 18px;
        text-transform: uppercase;
        @include breakpoint(sm) {
            display: none;
        }
    }
    .btn-close {
        position: absolute;
        top: 12px;
        right: 12px;
        @include breakpoint(lp) {
            display: none;
        }

        @include breakpoint(xlg) {
            display: none;
        }
    }
}

.products-top-row {
    background: #fdfbf9;
    @include padding(10px, 20px, 10px, 20px);
    @include margin(0, 0, 20px, 0);

    @include breakpoint(sm) {
        background: none;
        border-top: 1px solid $light-grey-color;
        border-bottom: 1px solid $light-grey-color;
        @include padding(10px, 0, 10px, 0);
        @include margin(0, 0, 10px, 0);
    }

    .grid-btn-group {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        label {
            svg {
                color: #707070;
                font-size: 30px;
            }
        }
    }
    .sorting-drodown {
        select {
            border: 0;
            background-color: 0;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .breadcrumb {
        @include margin(0, 0, 0, 0);
        li {
            font-size: 14px;
        }
        a {
            color: $dark-grey-color;
            font-weight: bold;
            font-size: 14px;
            &:hover {
                color: $brand-color;
            }
        }
    }
    .filter-button {
        svg {
            color: #727272;
        }
        span {
            text-transform: uppercase;
            font-size: 13px;
            color: #727272;
        }
        &:active{
            span{
                color: $brand-color;
            }
           
        }
    }
    .sorting-mobile {
        .dropdown-toggle {
            &:after {
                border: 0;
            }
        }
        a {
            color: #727272;
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 14px;
        }
    }
    .total-product-text {
        color: #727272;
    }
    @include breakpoint(sm) {
        .breadcrumb {
            display: none;
        }
        .sorting-drodown {
            display: none;
        }
        .total-product-text {
            display: none;
        }
    }
    @include breakpoint(lp) {
        .filter-button {
            display: none;
        }
        .grid-btn-group {
            display: none;
        }
        .sorting-mobile {
            display: none;
        }
    }
    @include breakpoint(xlg) {
        .filter-button {
            display: none;
        }
        .grid-btn-group {
            display: none;
        }
        .sorting-mobile {
            display: none;
        }
    }
}
.filter-bar {
    .accordion-button {
        text-transform: uppercase;
        @include padding(20px, 0, 20px, 0);
        &:after {
            font-family: "FontAwesome";
            content: "\f068";
            background: none;
            color: $brand-color;
            right: 0;
            transform: none;
        }
    }
    .accordion-button:not(.collapsed)::after {
        font-family: "FontAwesome";
        content: "\f067";
    }
    .accordion-button:focus {
        box-shadow: none;
        text-transform: uppercase;
        border-color: $brand-color;
    }
    .accordion-button:not(.collapsed) {
        color: $brand-color;
        background: 0;
    }

    .accordion-body {
        @include padding(20px, 0, 20px, 0);
        .filter-content {
            height: 200px;
            overflow-y: auto;
            @include scrollbars(5px, black(0.4), $light-grey-color);
            .checkboxes {
                @include margin(0, 0, 20px, 0);
            }
        }
        .color-palette {
            flex-wrap: wrap;
            display: flex;
            &__item {
                @include padding(2px, 2px, 2px, 2px);
                @include margin(0, 10px, 10px, 10px);
                border: 1px solid $light-grey-color;
                &:hover {
                    border: 1px solid $brand-color;
                }
            }
            &__color {
                height: 30px;
                width: 30px;
                display: block;
            }
            &--black {
                background: $black-color;
            }
            &--blue {
                background: #0000ff;
            }
            &--brown {
                background: brown;
            }
            &--green {
                background: #008000;
            }
            &--grey {
                background: #5b5c60;
            }
            &--gradient {
                background: url(../images/color-gradient.jpg) no-repeat;
            }
            &--dark-blue {
                background: #000080;
            }
            &--red {
                background: red;
            }
            &--white {
                background: white;
            }
            &--yellow {
                background: yellow;
            }
        }
    }
}

#products-list {
    .price {
        color: $dark-grey-color;
    }
}
