/********************* products list **********************/
.product-grid {
    text-align: center;
    padding: 0 0 72px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include transition();
    @include margin(10px, 10px, 10px, 10px);
  
    @include breakpoint(sm){
      @include margin(10px, 0, 10px, 0);
    }
  
    .product-image {
      position: relative;
      @include transition();
      a {
        display: block;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .pic-1 {
      opacity: 1;
      @include transition();
    }
    &:hover {
      .pic-1 {
        opacity: 1;
      }
      .pic-2 {
        opacity: 1;
      }
      .social {
        opacity: 1;
        top: 50%;
      }
      .product-content {
        bottom: 0;
      }
      .title {
        a {
          color: $brand-color;
        }
      }
    }
    .pic-2 {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      @include transition();
    }
    .social {
      width: 150px;
      padding: 0;
      margin: 0;
      list-style: none;
      opacity: 0;
      transform: translateY(-50%) translateX(-50%);
      position: absolute;
      top: 60%;
      left: 50%;
      z-index: 1;
      @include transition();
  
      @include breakpoint(sm) {
        
        display: none;
      }
      @include breakpoint(md) {
        opacity: 10;
      }
  
      li {
        display: inline-block;
        a {
          color: #fff;
          background-color: #333;
          font-size: 16px;
          line-height: 40px;
          text-align: center;
          height: 40px;
          width: 40px;
          margin: 0 2px;
          display: block;
          position: relative;
          @include transition();
          &:hover {
            color: #fff;
            background-color: #ef5777;
            &:after {
              opacity: 1;
            }
            &:before {
              opacity: 1;
            }
          }
          &:after {
            content: attr(data-tip);
            color: #fff;
            background-color: #000;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 20px;
            padding: 1px 5px;
            white-space: nowrap;
            opacity: 0;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: -30px;
            content: "";
            height: 15px;
            width: 15px;
            border-radius: 0;
            transform: translateX(-50%) rotate(45deg);
            top: -20px;
            z-index: -1;
          }
          &:before {
            content: attr(data-tip);
            color: #fff;
            background-color: #000;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 20px;
            padding: 1px 5px;
            white-space: nowrap;
            opacity: 0;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: -30px;
          }
        }
      }
    }
    .product-discount-label {
      color: #fff;
      background-color: $brand-color;
      font-size: 12px;
      text-transform: uppercase;
      padding: 5px 15px;
      display: block;
      position: absolute;
      top: 40px;
      background-color: #c1c1c1;
      left: auto;
      right: 10px;
      width: 100px;
      text-align: center;
    }
    .product-new-label {
      color: #fff;
      background-color: $brand-color;
      font-size: 12px;
      text-transform: uppercase;
      padding: 5px 15px;
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 100px;
      text-align: center;
    }
    .product-content {
      background-color: #fff;
      text-align: center;
      padding: 12px 0;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -50px;
      z-index: 1;
      @include transition();
  
     /*  @include breakpoint(sm) {
        bottom: 0;
      }
      @include breakpoint(md) {
        bottom: 0;
      } */
    }
    .title {
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      margin: 0 0 10px;
      @include transition();
      a {
        color: #828282;
        &:hover {
          color: $brand-color;
        }
      }
    }
    .price {
      color: $brand-color;
      font-size: 17px;
      font-weight: 700;
      letter-spacing: 0.6px;
      margin-bottom: 8px;
      text-align: center;
      @include transition();
      span {
        color: #999;
        font-size: 13px;
        font-weight: 400;
        text-decoration: line-through;
        margin-left: 3px;
        display: inline-block;
      }
    }
    .add-to-cart {
      color: #000;
      font-size: 13px;
      font-weight: 500;
      position: relative;
      @include padding(10px, 10px, 10px, 30px);
      @include border-radius(50px);
      display: inline-block;
  
      &:before {
        position: absolute;
        left: 9px;
        content: "\f055";
        font-family: "FontAwesome";
        font-size: 18px;
        top: 6px;
        color: #000;
      }
      &:hover {
        color: $white-color;
        background: $brand-color;
        &::before {
          color: $white-color;
        }
      }
    }
    &:hover {
      @include box-shadow(0, 5px, 24px, black(0.2));
      @include transform(translateY(-5px));
    }
  }
  